<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title> Welcome</title>
</head>
<body>
   <div align="center">
       <div sec:authorize="isAuthenticated()">
           Welcome <b><span sec:authentication="name">Username</span></b>
           &nbsp;
           <i><span sec:authentication="principal.authorities">Roles</span></i>
       </div>
       <h1>Product Manager</h1>
       <form th:action="@{/logout}" method="post">
           <input type="submit" value="Logout" />
       </form>
   </div>
</body>